/* Styling for gif-grid */

.ledj-gif-grid {
  display: inline-block;
  text-align: center;
}

.ledj-gif-grid > .ledj-gif-item {
  display: inline-block;
  max-width: 350px;
  overflow: hidden;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.ledj-gif-grid .ledj-gif-content { padding: 5px 10px; }

.ledj-gif-grid .ledj-gif-container { height: 350px; }

.ledj-gif-grid video {
  max-height: 350px;
  height: auto;
  width: 100%;
  display: block;
}

@media (max-width: 700px) {
  .ledj-gif-grid .ledj-gif-container {
    height: auto;
    max-height: 350px;
  }
}

/* End gif-grid styling */