/* Styling for ledj-table */

table.ledj-table {
  border-spacing: 0;
  width: 100%;
  background: rgba(200, 200, 200, 0.02);
}

table.ledj-table th,
table.ledj-table td { border: 1px solid rgba(200, 200, 200, 0.5); }

table.ledj-table th,
table.ledj-table td {
  text-align: left;
  padding: 6px 8px;
}

table.ledj-table th {
  white-space: nowrap;
  background: rgba(200, 200, 200, 0.2);
}

table.ledj-table tbody > tr {
  -webkit-transition: background-color 150ms;
  transition: background-color 150ms;
}

table.ledj-table tbody > tr:hover,
table.ledj-table tbody > tr:focus,
table.ledj-table tbody > tr:active { background-color: rgba(1, 80, 197, 0.1); }

table.ledj-table .tag {
  display:inline-block;
  float: left;
  font-size: 0.9em;
  border: 1px solid rgba(108, 6, 3, 0.6);
  background: rgba(108, 6, 3, 0.6);
  color: #fff;
  margin: 2px;
  padding: 1px 4px;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 150ms;
  transition: all 150ms;
}

table.ledj-table .tag.active,
table.ledj-table .tag:hover,
table.ledj-table .tag:focus,
table.ledj-table .tag:active {
  border: 1px solid rgba(108, 6, 3, 1);
  background: rgba(108, 6, 3, 1);
}

/* Table Border Radius */
table.ledj-table tr:first-child th:first-child {
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
}
table.ledj-table tr:first-child th:last-child {
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
}
table.ledj-table tr:last-child td:first-child {
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px;
}
table.ledj-table tr:last-child td:last-child {
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px;
}
/* End styling for ledj-table */