/* Color Scheme - <http://paletton.com/#uid=7090u0kuPhGk7rhpYmyGvbUTp5w> */

html, body {
    margin: 0; border: 0; padding: 0; position: relative; top: 0; left: 0;
}

body * { font-family: 'Roboto', sans-serif; color: #00131C; }
body, .body-container { background: #f3f3f3; }

code, pre {
    font-family: 'Roboto Mono', monospace;
    color: #B40E01;
}
a:hover code,
a:active code,
a:focus code { color: #DD1E0F; }
a {
    text-decoration: none;
    color: #1B51A0;
}
a:visited { color: #4B7DC6; }
a:hover,
a:active,
a:focus {
    text-decoration: underline;
    color: #0150C5;
}

.body-container {
    box-sizing: border-box;
    padding: 15px;
    max-width: 1230px;
    margin: auto;
}

.header {
    background: rgba(0, 19, 28, 0.5);
    padding: 60px 0 30px 0;
    margin-bottom: 20px;

    -webkit-box-shadow: 0 0 15px 0 rgba(0, 19, 28,0.75);
    -moz-box-shadow: 0 0 15px 0 rgba(0, 19, 28,0.75);
    box-shadow: 0 0 15px 0 rgba(0, 19, 28,0.75);
}
.header > .body-container {
    background: none;
    margin: auto;
}

.header-logo {
    display: block;
    max-width: 300px;
    height: auto;
    width: 100%;
}

.header-title, .sub-header-title {
    text-align: left;
    color: #f3f3f3;
}

.header-title {
    font-size: 48px;
    margin: 15px 0 20px 0;
}
.sub-header-title {
    font-size: 24px;
    margin: 5px 0 15px 0;
}
h3.sub-header-title { font-size: 18px; }

.ledj-output-container {
    box-sizing: border-box;
    margin: auto;
    padding: 15px;
    background: #ffffff;

    -webkit-box-shadow: 0 0 6px -1px rgba(0, 19, 28, 0.75);
    -moz-box-shadow: 0 0 6px -1px rgba(0, 19, 28, 0.75);
    box-shadow: 0 0 6px -1px rgba(0, 19, 28, 0.75);

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.json-data-container textarea {
    font-family: 'Roboto Mono', monospace;
    border: none;
    overflow: auto;
    outline: none;
    resize: none;
    display: block;
    padding: 15px;
    width: 100%;
    height: 400px;
    overflow-y: scroll;
    font-size: 14px;
    background: #222;
    color: #eee;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.json-data-container button {

}

.json-data-container .json-error {
    display: block;
    font-family: 'Roboto Mono', monospace;
    width: 100%;
    font-size: 12px;
    height: 25px;
    padding: 5px 10px;
    margin: 15px 0;
    color: #B40E01;
    border: 1px solid rgba(221, 30, 15, 0);

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    -webkit-transition: all 150ms;
    transition: all 150ms;
}

.json-data-container .json-error.show {
    border-color: rgba(221, 30, 15, 0.5);
    background: rgba(221, 30, 15, 0.2);
}

@media(min-width:600px) {
    .header > .body-container {
        width: 570px;
    }
    .header > .body-container > * {
        padding-left: 30px;
    }
}



.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    border: 0;
}