body * { font-family: 'Roboto', sans-serif; color: #222222; }
body, div { background: #efefef; }

code, pre {
    font-family: 'Roboto Mono', monospace;
    color: #B40E01;
}
a:hover code,
a:active code,
a:focus code { color: #DD1E0F; }
a {
    text-decoration: none;
    color: #1B51A0;
}
a:visited { color: #4B7DC6; }
a:hover,
a:active,
a:focus {
    text-decoration: underline;
    color: #0150C5;
}

header {
    height: 50vh
}